@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500|Lato|Nanum+Gothic+Coding|Open+Sans|PT+Sans+Narrow|PT+Serif|Poppins:400,600');
.main{
    font-family: "PT+Serif";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    min-height: 600px;
    background: url(../imeg/v_w.jpg)no-repeat center;
    background-size: cover;
    position: relative;
    opacity: 0.9;
}
 .header{
            display: flex;
            height:10vh;
            justify-content: space-between;
            align-items: center;
            background-color:rgba(34, 31, 31, 0.14);
            height:10%;
            width: 100%;
            }
          .menu ul{
            display: flex;
            justify-content:space-around;
         }
.logo{
    font-family: "PT+Serif";
    color:rgb(0, 0, 0);
    margin: 60px;
    padding: 50px;
    text-transform: uppercase;
}
           .menu{
               width:25%; 
               padding: 10px;
               margin:12px;
               margin-top: 25px;
               text-transform: uppercase;
               letter-spacing: 1px;
                   .menu-link{
                       text-decoration: none;
                   }
                   .dws-menu ul{
                       border-left: left 1px solid black;
                       position: relative;
                       padding: 0 75px;
                   }
                }
                    a{
                    text-decoration:none; 
                    color: #fff; 
                }
      .search{
             font-family: "lato";  
             border:none;
             border-left:1px solid white;
             background-color:rgba(255, 255, 255, 0.33);
             color: rgba(0, 0, 0, 0.35);
              }
.wrrap_gallery{
    height: 10vh;
}
.gallery_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.gallery_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    
